In [1]:
print("hello")

hello

In [2]:
# bikin comment, tidak termasuk code
# Tipe data yang dimengerti Python

123
type(123)

int

In [ ]:
# int, integer, salah satu tipe data yang dimengerti Python
# tipe data numerik (angka) ada dua, int dan float

In [3]:
15.5
type(15.5)

float

In [4]:
# selain tipe data numerik, Python juga mengerti tipe data non-numerik seperti
# str, string, untuk teks yang dikutip '' ""

In [5]:
"halo"
type("halo")

str

In [6]:
"123"
type("123")

str

In [7]:
# bool, boolean, untuk data tipe true atau false
# bahasa pemrograman itu kaku, tidak seperti manusia yang banyak di tengah2 jawabannya

In [8]:
True
False
type(True)

bool

In [1]:
# 4 tipe data: int, float, str, bool
# ini adalah tipe data primitif, simple data types

# ada tipe data yang sedikit lebih rumit, punya struktur
# list [] bisa berisi banyak data di dalam [] dipisah dengan ,
# dictionary {} bisa berisi banyak data di dalam {} dipisah dengan , dan setiap data sepasang sepasang

In [2]:
["halo", 123, True, "halo lagi"]
# diatas ini list kita berisi 4 item, str, int, bool, str
type(["halo", 123, True, "halo lagi"])

list

In [3]:
{}
# isi sebuah dictionary, kamus itu sepasang dimulai dari key: value
# mirip kamus kita punya kata kunci "key" sebuah str, dan value nya bebas
{"nama": "Andi", "umur":53}
# diatas ini dictionary kita berisi 2 item, str:str, str:int
type({"nama": "Andi", "umur":53})

dict

In [4]:
# demikian 4 tipe data simple dan 2 tipe data terstruktur yang akan sering kita gunakan di Python

# Markdown

## sub judul
teks ukuran biasa
- list item 1
- list item 2
- list 3

# Tipe Data

## Tipe data simple
- int
- float
- string
- boolean

## Tipe data terstruktur
- list
- tuple
- dictionary
- set (tidak kita bahas di kelas)

## Int
integer

tipe data numerik yang merupakan angka bulat, tanpa koma

In [5]:
1234587654621384765465555555555555555555555555555555555555555555555555555555

1234587654621384765465555555555555555555555555555555555555555555555555555555

In [7]:
print(type(135))

<class 'int'>

In [8]:
# menggunakan operator matematik seperti + - * / ** %
15 + 7 + 3

25

In [9]:
15 - 8

7

In [10]:
15 * 15

225

In [11]:
15 ** 2

225

In [12]:
15 / 3

5.0

In [13]:
15 % 7

1

15 modulo 7 hasilnya adalah 1 karena 15 dibagi tujuh hasilnya 2 sisa 1. modulo menyimpan sisa nya saja.

In [14]:
# selain operator matematik
# kita juga bisa gunakan operator komparasi > < >= <= ==
15 == 2

False

untuk apa membandingkan 2 angka seperti itu? kedepannya kita akan menggunakan nama untuk menyimpan data.

variable.

## Variable
variable kita gunakan untuk menyimpan data dan memberinya nama.

misalakan kita mau simpan sebuah pesan berbentuk string. kalau kita hanya tulis pesannya, kita tidak bisa memanggil lagi pesannya di tempat lain di code kita.

untuk contoh berikut, misalkan kita mau simpan nilai hasil ujiannya Andi, nilai andi dapat 75.

In [15]:
75

75

tidak ada cara untuk mengakses angka 75 di atas. tiap mau dipakai kita harus ketik ulang 75. kita bahkan tidak punya informasi sama sekali angka itu untuk apa.

In [16]:
nilai_andi = 75

kita membuat sebuah variable nilai_andi yang berisi data sebuah int 75

In [17]:
print(nilai_andi)

75

In [18]:
# bisa juga bikin nilai budi
nilai_budi = 95

In [19]:
# baru masuk akal kenapa kita memerlukan operator pembanding

nilai_andi > nilai_budi

False

## Variable - peraturan
ada beberapa peraturan yang perlu diikuti saat membuat variable.
- nama tidak boleh dimulai dengan angka.   
Python akan langsung menanggap angka = data dan error, jadi semua nama variable dimulai dengan alfabet. bisa juga dimulai dengan simbol, tapi tidak di rekomen agar kita tidak bingung.
- nama tidak boleh menggunakan salah satu keyword Python, seperti int bool str dan lain lain.
```python
print = "ok"
# sebenarnya tidak error, tapi jadinya keyword print berubah dari fungsi awal kita untuk print menjadi sebuah variable berisi string "ok"

# dan kita tidak mau kehilangan fungsionalitas python demi sebuah nama variable
```
- tidak baik mencampur alfabet BESAR dan kecil, karena nanti kita lupa sendiri.
bagi Python, variable berikut adalah variable berbeda semua:

In [22]:
nilai_andi = 70
nilai_ANDI = 71
Nilai_Andi = 72
NilaiAndi = 73
nilaiAndi = 74
_nilaiAndi = 75
nilai_andi_ = 76
NILAI_andi = 77
NILAIANDI = 78

In [21]:
print(nilai_andi, nilai_ANDI, Nilai_Andi, NilaiAndi, nilaiAndi, _nilaiAndi, nilai_andi_, NILAI_andi, NILAIANDI)

70 71 72 73 74 75 76 77 78

di bahasa pemrograman biasanya ada 3 jenis cara tulis variable yang umum:
- kecil semua, spasi jadi _, snake_case
- kecil semua, kalau ada spasi huruf berikut jadi BESAR, camelCase
- huruf pertama sebuah kata BESAR, PascalCase

yang lebih jarang:
- kebab-case

sebenarnya bebas mau menggunakan snake_case, camelCase, atau PascalCase untuk nama variable. Tapi aku rekomen:
- snake_case untuk variable
- camelCase untuk function
- PascalCase untuk class

In [23]:
nilai_andi = "halo"

In [24]:
print(nilai_andi)

halo

di Python, sebuah variable tidak terikat ke datanya, tidak terikat ke tipe datanya juga. sebuah variable isinya bisa diubah bebas, dari tipe data, dan datanya.

In [25]:
nilai_andi = 75.5

## Float
sama seperti integer, bisa kita manipulasi dengan operator aritmatik + - * / % **

bisa juga kita gunakan operator komparasi untuk membandingkan dua angka (biasanya ada yang di dalam sebuah variable)

## String
bukan numerik

dia text

kita bisa gunakan operator aritmatik + dan *

In [26]:
msg = "halo"
tempat = "Bandung"

print(msg + " " + msg + " " + tempat)

halo halo Bandung

In [29]:
msg2 = (msg + " ") * 2 #harus dikali sebuah int
print(msg2 + tempat)

halo halo Bandung

selain itu, string juga bisa kita ubah2 CASE nya, besar jadi kecil, kecil jadi besar

In [35]:
msg = "belajar Python di Hacktiv8~~"

print(msg.capitalize()) # hanya huruf pertama yang BESAR
print(msg.title()) # semua huruf pertama setelah spasi jadi BESAR
print(msg.upper()) # BESAR semua
print(msg.lower()) # kecil semua
print(msg.swapcase()) # BESAR jadi kecil, kecil jadi BESAR

Belajar python di hacktiv8~~
Belajar Python Di Hacktiv8~~
BELAJAR PYTHON DI HACKTIV8~~
belajar python di hacktiv8~~
BELAJAR pYTHON DI hACKTIV8~~

capitalize, title, upper, lower, dan swapcase adalah function yang dibuat oleh Python sendiri "built-in function"

nanti di sesi 3 kita akan belajar cara membuat function milik kita sendiri, custom.

cara pakai function menggunakan namafunction()

() namanya "invoke" itu untuk menjalankan function nya

## Boolean
tipe data boolean hanya punya 2 jenis data: True dan False

tidak seperti int float str yang isinya bisa banyak jenis, boolean hanya ada 2.

tapi, di Python, tipe data bisa kita ubah2, int jadi float, float jadi int. int jadi bool, bool jadi int. dan lain2.

jadi, tipe data lain semua ada versi boolean nya.

contohnya:
- 0 adalah False
- 1 adalah True
- "" adalah False
- semua yang kosong2 dianggap false, seperti "", [], {}, 0, 0.0, -0
- selain itu adalah dianggap true

konversi tipe data cukup menggunakan nama tipe datanya lalu (isi data lain) contoh:
```python
int(5.5)
```

In [36]:
# float jadi int
int(5.5)

5

In [37]:
# int float bool jadi str
print(str(123))
print(str(345.567))
print(str(True))

123
345.567
True

In [40]:
print(int("1234567")) #ok, bisa

1234567

In [41]:
print(int("halo")) # tidak bisa

ValueError: invalid literal for int() with base 10: 'halo'

kalau string nya masuk akal untuk diubah jadi angka, misalkan "123" atau "7.5" maka dia bisa diubah jadi angka. kalau tidak, akan error.

In [38]:
# tipe data lain jadi boolean
print(bool("Hacktiv8"))
print(bool(123))
print(bool(345.567))
print(bool(True))

True
True
True
True

In [39]:
# kalau kosong kosong baru jadi False
print(bool(0))
print(bool(0.0))
print(bool(""))
print(bool([]))

False
False
False
False

# List
tipe data [] yang bisa diisi banyak data

ada saatnya kita perlu banyak data di satu tempat. misalkan nilai nilai murid di kelas A. ada 5 murid. 5 nilai. tidak efisien untuk mencoba mengingat sendiri 5 variable berbeda untuk satu kelas.

kita gunakan list untuk grup data2 ini jadi satu.

In [42]:
# misal di kelas A ada Andi, Budi, Cindy, Dian, dan Ed
# kita simpan nilai mereka di satu variable
nilai_kelas_a = [75, 95, 80, 10, 52]

print(nilai_kelas_a)

[75, 95, 80, 10, 52]

kalau mau akses satu nilai dari kelompok tersebut, kita bisa gunakan angka.

semua list memiliki angka untuk menyimpan posisi data di dalamnya.

angka ini namanya angka index.

angka index dimulai dari 0.

jadi item pertama punya index 0, item kedua punya index 1, item ketiga punya index 2, dan seterusnya.

di Python, index bisa dihitung dari belakang juga, jadi item terakhir punya index -1, kedua terakhir punya index -2.

kita gunakan angka index untuk mengambil 1 item tertentu dalam sebuah list. kita gunakan dengan pakai kurung kotak lagi.

In [43]:
# mau ambil nilai pertama
nilai_kelas_a[0]

75

In [44]:
# mau ambil nilai kedua
nilai_kelas_a[1]

95

() [] {} <>

kurung kurung ini terkadang punya lebih dari 1 kegunaan, contohnya, [] bisa untuk bikin list, bisa untuk isi index, bisa untuk isi keyword

In [45]:
# kalau tidak pakai variable, lebih kelihatan kalau kurung kotaknya dobel
["apel", "pisang", "jeruk"][0]

'apel'

setelah mengerti cara untuk:
- membuat list []
- mengakses item dalam sebuah list pakai index

berikutnya kita belajar:
- mengecek jumlah item dalam sebuah list
- edit list
    - nambah item
    - kurangi item
    - mengubah item dalam list
    - operator matematik + * juga bisa digunakan ke list
- hapus sebuah list

CRUD - create read update delete - kita belajar cara membuat, membaca, mengedit, dan menghapus sebuah tipe data

In [46]:
len(nilai_kelas_a)

5

In [56]:
buah_buahan = ["apel", "pisang", "jeruk"]

print("list buah buahan isinya ada " + str(len(buah_buahan)) + " buah")

list buah buahan isinya ada 3 buah

In [57]:
# edit

# nambah
buah_buahan.append("salak")

print(buah_buahan)

['apel', 'pisang', 'jeruk', 'salak']

In [58]:
print(buah_buahan)

['apel', 'pisang', 'jeruk', 'salak']

In [60]:
buah_buahan.append("nanas")

append langsung menambah item kedalam list

In [61]:
print(buah_buahan)

['apel', 'pisang', 'jeruk', 'salak', 'nanas']

In [62]:
# selain append kita bisa pakai + aritmatik
buah_buahan + ["duku", "semangka"]

['apel', 'pisang', 'jeruk', 'salak', 'nanas', 'duku', 'semangka']

\+ menambah tapi tidak menyimpan hasil akhir ke variable awal

In [63]:
print(buah_buahan)

['apel', 'pisang', 'jeruk', 'salak', 'nanas']

In [64]:
# nama kerennya "reassign variable" kita isi ulang variable kita dengan data baru
buah_buahan = buah_buahan + ["duku", "semangka"]

In [65]:
print(buah_buahan)

['apel', 'pisang', 'jeruk', 'salak', 'nanas', 'duku', 'semangka']

In [66]:
# untuk menghapus, kita bisa pakai remove()
buah_buahan.remove("duku")

print(buah_buahan)

['apel', 'pisang', 'jeruk', 'salak', 'nanas', 'semangka']

untuk menghapus yang pakai index, kita bisa pakai pop()

In [67]:
buah_buahan.pop(1)

print(buah_buahan)

['apel', 'jeruk', 'salak', 'nanas', 'semangka']

\* aritmatik multiply bisa juga kita gunakan untuk list

In [68]:
print(buah_buahan * 3)

['apel', 'jeruk', 'salak', 'nanas', 'semangka', 'apel', 'jeruk', 'salak', 'nanas', 'semangka', 'apel', 'jeruk', 'salak', 'nanas', 'semangka']

untuk mengubah item dalam list, kita pilih index tertentu, lalu kita re assign

In [69]:
print(buah_buahan)

['apel', 'jeruk', 'salak', 'nanas', 'semangka']

In [70]:
# kita ubah salak menjadi buah naga

buah_buahan[2] = "buah naga"

print(buah_buahan)

['apel', 'jeruk', 'buah naga', 'nanas', 'semangka']

untuk menghapus list, kita bisa hapus sepenuhnya sampai variable nya gk tersisa menggunakan keyword del
```python
del buah_buahan
```

tapi tidak di rekomen, karena nanti kita lupa sendiri kapan sebuah variable ada, dan kapan tidak.
lebih umum, kita kosongkan saja list nya. reassign ke [] atau pakai clear().

```python
buah_buahan = []

buah_buahan.remove()
```

In [71]:
buah_buahan = []

print(buah_buahan)

[]

In [72]:
bool(buah_buahan)

False

# Tuple
mirip list, tapi dia tidak bisa di edit2 isinya, tidak bisa ditambah, tidak bisa dikurangi

dibuat dengan ()

sama dengan list, punya index

untuk segrup data yang kita tidak mau ubah2, kita masukin tuple supaya kalau gk sengaja keubah lsg error

In [73]:
print(nilai_kelas_a)

[75, 95, 80, 10, 52]

In [74]:
# kalau pakai list kita bisa ubah
nilai_kelas_a[0] = nilai_kelas_a[0]+10

print(nilai_kelas_a)

[85, 95, 80, 10, 52]

In [75]:
# kalau pakai tuple, tidak bisa diubah
nilai_kelas_a = tuple(nilai_kelas_a)

print(nilai_kelas_a)

(85, 95, 80, 10, 52)

In [76]:
nilai_kelas_a[0] = nilai_kelas_a[0] + 10

TypeError: 'tuple' object does not support item assignment

In [77]:
nilai_kelas_a.append(90)

AttributeError: 'tuple' object has no attribute 'append'

In [78]:
nilai_kelas_a[-1]

52

# Dictionary
kalau list menggunakan index, di dictionary kita gunakan keyword, key, sebuah string.

index kita gantikan dengan key (str)

key nya kita pilih sendiri. karena itu setiap item dalam dictionary adalah sepasang key value. key(str) dan value (tipe data bebas)

In [79]:
# kalau kita buat jadi dictionary, kita bisa simpan nama murid sebagai key
nilai_kelas_a = {
    "andi": 75,
    "budi": 85,
    "cindy": 69,
    "dennis": 73,
    "ed": 20
}

print(nilai_kelas_a)

{'andi': 75, 'budi': 85, 'cindy': 69, 'dennis': 73, 'ed': 20}

kalau pakai list biasanya ada beberapa list.

list nama murid, list nilai murid, list nomor id murid.

kalau pakai dictionary, lebih banyak informasi bisa disimpan di satu variable.

In [80]:
kelas_a = {
    "andi": {
        "nilai":75,
        "id": "PYTN091001",
        "fullname":"Andhika Widjaja"
    },
    "budi": {
        "nilai":85,
        "id": "PYTN091002",
        "fullname":"Budi Budiman"
    },
    "cindy": {
        "nilai":75,
        "id": "PYTN091003",
        "fullname":"Cindy Tamihardja"
    }
}

print(kelas_a)

{'andi': {'nilai': 75, 'id': 'PYTN091001', 'fullname': 'Andhika Widjaja'}, 'budi': {'nilai': 85, 'id': 'PYTN091002', 'fullname': 'Budi Budiman'}, 'cindy': {'nilai': 75, 'id': 'PYTN091003', 'fullname': 'Cindy Tamihardja'}}

In [81]:

print(nilai_kelas_a)

{'andi': 75, 'budi': 85, 'cindy': 69, 'dennis': 73, 'ed': 20}

In [82]:
nilai_kelas_a['andi']

75

In [83]:
{"andi": 75, "budi": 85, "cindy": 69, "dennis": 73, "ed": 20 }['andi']

75

dictionary kita ambil 1 item menggunakan keyword nya. mirip list pakai index. dictionary pakai key.

demikian cara buat dan baca sebuah dictionary

berikutnya untuk edit dan hapus dictionary
- mengubah sebuah value dari sebuah key dalam dictionary, misal ubah nilai "andi"
- menambah key:value ke sebuah dictionary, misal nambah nilainya "fifi" yang dapat 60
- hapus sebuah key:value misal "ed" keluar dari kelas a
- mengosongkan dictionary, bisa pakai del (variable terhapus) atau lebih umum di reassign jadi {}

In [84]:
print(nilai_kelas_a)

{'andi': 75, 'budi': 85, 'cindy': 69, 'dennis': 73, 'ed': 20}

In [85]:
# ubah
nilai_kelas_a["andi"] = 80

In [86]:
print(nilai_kelas_a)

{'andi': 80, 'budi': 85, 'cindy': 69, 'dennis': 73, 'ed': 20}

In [87]:
# nambah
nilai_kelas_a["fifi"] = 60

In [88]:
print(nilai_kelas_a)

{'andi': 80, 'budi': 85, 'cindy': 69, 'dennis': 73, 'ed': 20, 'fifi': 60}

In [89]:
# hapus
del nilai_kelas_a["ed"]

print(nilai_kelas_a)

{'andi': 80, 'budi': 85, 'cindy': 69, 'dennis': 73, 'fifi': 60}


kalau tidak mau keyword nya hilang sama sekali, kita bisa reassign saja

```python
nilai_kelas_a["ed"] = 0
```

dictionary nya sendiri mau dihapus
```python
del nilai_kelas_a #variable juga hilang

nilai_kelas_a = {} # lebih umum
```

kadang kalau punya tipe data dictionary, kita mau tau isinya ada berapa, apa saja, bagaimana caranya
- selain len untuk jumlah key:value

kita bisa dapat list kalau:
- minta key saja pakai .keys()
- minta values saja pakai .values()
- minta item2 nya dipisah menjadi tuple masing2 menggunakan .items()

In [90]:
len(nilai_kelas_a)

5

In [91]:
nilai_kelas_a.keys()

dict_keys(['andi', 'budi', 'cindy', 'dennis', 'fifi'])

In [92]:
nilai_kelas_a.values()

dict_values([80, 85, 69, 73, 60])

In [93]:
nilai_kelas_a.items()

dict_items([('andi', 80), ('budi', 85), ('cindy', 69), ('dennis', 73), ('fifi', 60)])

kalau dilihat tipe datanya, bukan list atau tuple, tapi dict_keys, dict_values, dict_items. kalau mau kita gunakan sebagai list, kita convert dulu

In [96]:
murid_kelas_a = list(nilai_kelas_a.keys())
hasil_ujian_kelas_a = list(nilai_kelas_a.values())
detail_kelas_a = list(nilai_kelas_a.items())

print(murid_kelas_a, type(murid_kelas_a))
print(hasil_ujian_kelas_a)
print(detail_kelas_a)

['andi', 'budi', 'cindy', 'dennis', 'fifi'] <class 'list'>
[80, 85, 69, 73, 60]
[('andi', 80), ('budi', 85), ('cindy', 69), ('dennis', 73), ('fifi', 60)]

## komparasi
selain untuk membandingkan dua data, variable atau raw data, komparasi bisa juga sedikit lebih panjang.

kita bisa cek misalakan: apakah umur andi di antara 17 dan 65

kita pakai operator "and" selain < > <= >= ==


kalau mau cek kondisi yang salah satu boleh, misalkan boleh naik wahana kalau umur diatas 12 atau ditemani orang tua

kita pakai operator "or"

In [97]:
umur = 30

print("umur ada di antara 17 dan 65")
print(umur >= 17 and umur <= 65)

umur ada di antara 17 dan 65
True

code berikut sama persis dengan code diatas, cuma kita kurung kurung code nya pakai () biasanya untuk membuat lebih mudah dibaca code nya

In [99]:
umur = 30

print("umur ada di antara 17 dan 65")
print(
    (
        (umur >= 17) and 
        (umur <= 65)
    )
)

umur ada di antara 17 dan 65
True

In [100]:
umur = 15
ditemani_orang_tua = False

print("boleh kalau umur diatas 12 atau ditemani orang tua")
print(umur >= 12 or ditemani_orang_tua)

boleh kalau umur diatas 12 atau ditemani orang tua
True

In [101]:
umur = 15
ditemani_orang_tua = False

print("boleh kalau umur diatas 12 atau ditemani orang tua")
print(
    (
        (umur >= 12) or 
        ditemani_orang_tua
    )
)

boleh kalau umur diatas 12 atau ditemani orang tua
True