In [5]:
import pickle

import pandas as pd

from sklearn.preprocessing import StandardScaler

In [2]:
model = pickle.load(open('clustering_model_wholesale.pkl', 'rb'))

sebagai contoh, kita bisa load data whole sale nya dan bikin cluster2 nya

In [4]:
data = pd.read_csv("../dataset/Wholesale customers data.csv")
data

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

In [8]:
dropped_data = data.drop(columns=["Channel", "Region"])

In [9]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(dropped_data)

scaled_data

array([[ 0.05293319,  0.52356777, -0.04111489, -0.58936716, -0.04356873,
        -0.06633906],
       [-0.39130197,  0.54445767,  0.17031835, -0.27013618,  0.08640684,
         0.08915105],
       [-0.44702926,  0.40853771, -0.0281571 , -0.13753572,  0.13323164,
         2.24329255],
       ...,
       [ 0.20032554,  1.31467078,  2.34838631, -0.54337975,  2.51121768,
         0.12145607],
       [-0.13538389, -0.51753572, -0.60251388, -0.41944059, -0.56977032,
         0.21304614],
       [-0.72930698, -0.5559243 , -0.57322717, -0.62009417, -0.50488752,
        -0.52286938]])

langsung pake modelnya

In [10]:
model.predict(scaled_data)

c:\Users\stefa\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KMeans was fitted with feature names
  warnings.warn(

array([ 4,  4,  4,  9,  5,  0,  0,  4,  0,  4,  4,  0,  5,  4,  5,  0,  4,
        0,  5,  0,  5,  0,  9,  8,  5,  5,  0,  0,  1,  2,  5,  0,  5,  5,
        0,  4,  5,  4,  4,  2,  9,  5,  4,  1,  4,  1,  4, 10,  4,  1,  0,
        0,  2,  4,  5,  0,  1,  4,  0,  4,  0,  6,  4,  4,  0,  1,  0,  4,
        0,  0,  9,  8,  9,  9,  4,  5,  0,  1,  0,  0,  0,  4,  4,  5,  0,
        6, 10,  8,  9,  5,  0,  9,  1,  9,  4,  0,  0,  0,  0,  0,  4,  4,
        4,  2,  0,  5,  4,  4,  4,  4,  0,  4,  9,  5,  5,  0,  0,  0,  5,
        0,  5,  0,  0,  4,  2,  2,  9,  5,  0,  2,  0,  0,  0,  0,  0,  0,
        4,  0,  5,  0,  5,  5,  2,  9,  5,  1,  0,  0,  0,  5,  5,  0,  5,
        0,  0,  1,  4,  5,  4,  4,  4,  0,  5,  1,  4,  4,  4,  0,  0,  0,
        4,  1,  0,  4,  0,  4,  2,  5,  0,  0,  5, 11,  4,  3,  0,  0,  0,
        4,  4,  4,  9,  0,  0,  4,  0,  9,  9,  4,  0,  0,  1,  1,  5,  0,
        0,  1,  0,  4,  0,  1,  5,  1,  0,  4,  4,  4,  1,  5,  4,  0,  0,
        4,  0,  0,  0,  0,  5,  0,  0,  0,  9,  0,  5,  0,  5,  0,  0,  5,
        0,  2,  9,  5,  5,  0,  4,  4,  0,  0,  5,  0,  0,  1,  9,  5,  4,
        5,  0,  0,  2,  2,  0,  0,  5,  0,  4,  4,  4,  5,  4,  0,  0,  0,
        0,  2,  0,  0,  5,  9,  0,  5,  0,  5,  2,  9,  2,  2,  0,  9,  0,
        2,  0,  0,  0,  4,  5,  0,  5,  0,  4,  0,  5,  4,  4,  4,  1,  4,
        4,  5,  0,  4,  9,  5,  1,  0,  0,  4,  0,  0,  0,  1,  0,  0,  5,
        5,  5,  7,  0,  0,  9,  0,  0,  1,  5,  6,  9,  5,  0,  9,  9,  9,
        4,  4,  4,  1,  0,  0,  4,  5,  0,  1,  0,  1,  0,  4,  9,  0,  5,
        4,  4,  0,  5,  0,  0,  0,  0,  4,  0,  0,  5,  0,  2,  9,  0,  5,
        0,  0,  4,  2,  0,  0,  5,  9,  5,  0,  4,  0,  0,  5,  0,  0,  0,
        0,  0,  9,  0,  0,  4,  9,  0,  0,  0,  9,  5,  5,  5,  0,  9,  4,
        0,  5,  0,  0,  4,  9,  0,  4,  4,  4,  4,  0,  4,  5,  5,  5,  5,
        9,  4,  9,  0,  0,  4,  9,  5,  0,  5,  9,  2,  1,  0,  0])

In [11]:
labeled_data = data.copy()

labeled_data['label'] = model.predict(scaled_data)

labeled_data

c:\Users\stefa\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KMeans was fitted with feature names
  warnings.warn(

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen,label
0,2,3,12669,9656,7561,214,2674,1338,4
1,2,3,7057,9810,9568,1762,3293,1776,4
2,2,3,6353,8808,7684,2405,3516,7844,4
3,1,3,13265,1196,4221,6404,507,1788,9
4,2,3,22615,5410,7198,3915,1777,5185,5
...,...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204,9
436,1,3,39228,1431,764,4510,93,2346,2
437,2,3,14531,15488,30243,437,14841,1867,1
438,1,3,10290,1981,2232,1038,168,2125,0
439,1,3,2787,1698,2510,65,477,52,0